*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
ul,li{
  list-style-type: none;
}

body{
  background-image: url("../img/ep_naturalwhite.png");
}

.container-index{  
  width: 1200px; 
  height: auto;
  margin: auto auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 10px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  margin-top: 60px;  
  

}
@media (min-width: 400px)
{
  .container-index {
    max-width: 100%;
  }
}

 /* @media (max-width: 1200px) {
  .container-index {
    max-width: 1240px;
  }
}  */

/*header PADRE*/
.navbar-color{
  background-color: #575553a1;
  
 
  /* padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;/*alinea los elementos tambien se puede usar besaline*/
  /* position: fixed;/*deja el menu fijo*/
  /* gap: 5px; */ 
}
/*HIJO*/
.icono-nav{
  max-width:100%;
  height:50px;
  border: 1px solid #FA811B;
 border-radius: 5px;
 margin-left: 30px;
 
}
.nav-item{
   margin-left: 10px;
}
.ul-nav{
  margin-left: 65%;
}
/* Menu PADRE /*

.nav-item{
 display: flex;
da espacio entre los elementos
  margin-left: 150px; 
}

/*************************portada*************************/
/*portada-index*/
.portada-index{
  background-image: url(../img/loteria2.jpg);
  background-position: center;
   background-size: cover; 
  margin-top:90px;
  width: 100%;
 max-height: 600px;
  height: 94vh;/*q cubra el alto de la pantalla e¡alto del viewport */
}
@media (min-width: 400px)
{
  .portada-index {
    max-width: 100%;
  }
}

.portada-texto{
  /* background-color: rgba(95, 158, 160, 0.541); */
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap:10px;
  
  }

  .portada-texto-figcaption{
    padding-top: 550px;
    font-size: 1.2rem;
    color: black;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
/*****************slider*********************/

.textoslider{
  padding: 10px;
   
 }
 .textoslider-h2{
   font-size: 2rem;
   padding: 5px 0px;
   align-items: center;
   margin-top: -15px;
   
 }
 .textoslider-hr{
   height: 2px;
   margin-left: auto;
   margin-right: 1%; 
   margin-top :1%;
   border: 1px solid #FA8807;
   flex-direction: row;}
 /**********************texto***************/
.container-texto{
  display: flex;
  flex-direction: row;
    
}

.texto1{
 padding: 10px; 
 
}
.texto1-h2{
  font-size: 2rem;
  padding: 5px 0px;
  align-items: center;
  
}
.texto1-hr{
  height: 2px;
  margin-left: auto;
  margin-right: 10%; 
  margin-top :1%;
  border: 1px solid #FA8807;
  flex-direction: row;
  
}
.texto1-parrafo{
  font-family:Arial, Helvetica, sans-serif;
text-align: justify;
line-height: 50px;
margin:15px 20px 10px 0px;
line-height:inherit;
font-size: 16px;    
line-height: 40px;
padding-right: 35px; 

}

.texto2{
  padding: 15px;
  
 }
 .texto2-h2{
   font-size: 2rem;
   padding: 5px 0px;
 }
 .texto2-hr{
   height: 2px;
   margin-left: 1px;
   margin-right: 3px; 
   margin-top :-1%;
   border: 1px solid #FA8807;
   
 }
 .texto2-parrafo{
  font-family:Arial, Helvetica, sans-serif;
 text-align: justify;
 line-height: 50px;
 margin:15px 20px 10px 10px;
 line-height:inherit;
 font-size: 16px;    
 line-height: 40px;
 padding-right: 35px;  
 }

/********************novedades***********************/
.novedad{
  display: flex;
  flex-direction: column;
}
 .novedad-h2{
  font-size: 2rem;
   padding: 5px ;
   margin-left: -10px;
}

.novedad-hr{
   height: 2px;
    margin-left: 16%;
   margin-right: 1%;   
   margin-top :-2%;
  
  border: 1px solid #FA8807
}

.container-novedad {
  width: 90%;
  margin: 20px auto;
  }
/************************imagenes de novedad**************/
  .tarjeta{
    border: 10px solid transparent;
    width: 250px;
    height: 400px;
    overflow: hidden;/*sale del contenedor no se ve cdo la imagen sale de la tarjeta*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.img-fluid{
    max-width: 100%;/*para q la imagen quede dentro de la tarjeta*/
}

.tarjeta-titulo{
  font-family:Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 14px;    
line-height: 20px;
font-weight: bold;


}
.contenedor-producto{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*****************juegos************/

.container-juegos{  
  width: 1000px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  margin-top: 60px;   
}

@media (min-width:400px)
{
  .container-juegos {
    max-width: 100%;
   
    
  }
  /* .contenedor-juegos{
   margin-left: 20%;
   
  } */
    
}

.juegos-hr{
  height: 2px;
   margin-left: -2%; 
  margin-right: 1%;
   margin-top :1%;
border: 1px solid #FA8807;   
}
.juegos-h1{
  margin-top:-2px;
}
.tarjeta-juegos{
  border: 2px solid transparent;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  overflow: hidden;/*sale del contenedor no se ve cdo la imagen sale de la tarjeta*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.tarjeta-img{
  width: 100%;/*para q la imagen quede dentro de la tarjeta*/
  border: 2px solid transparent;
  border-radius: 8px;
}
.contenedor-juegos{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
} 



/**********************************/

/*imagenes*/
.nov-imagen {
  display:inline-block;
   margin:55px 10px 0px 80px; 
  }
.novedades img{
   width: 85%;
  margin: auto;
  display: block;
  border: 1px solid black;
  border-radius: 50px 20px;
}
.novedades hr{
  height: 2px;
  margin-left: 22%;
  margin-right: 3%;
  margin-top :-3%;
  background-color: #ffbc3b; 
}

/*************************formulario de contacto*************************/
.contact_form{  
  width: 480px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 25px; 
  margin-top: 60px;
}

@media (min-width: 400px)
{
  .contact_form {
    max-width: 100%;
  }  
  textarea{
    max-width:100%;
  }  
}




/* .form-input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #FA811B; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
} */

textarea{
  background-color: #fbfbfb; 
  width: 450px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #FA811B; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
/* label{
  
  display: block; 
  float: center;  
} */
.formulario h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #f88b32;
}

.formulario h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

/******************************historia*********************/
.container-historia{  
    width: 1000px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    margin-top: 60px;  
    display: flex;
    flex-direction: column;
}
@media (min-width: 400px)
{
  .container-historia {
    max-width: 100%;
  }
}

  .historia-hr{
    height: 2px;
  margin-left: -1%; 
  margin-right: 1%;
  margin-top :-1%;
   border: 1px solid #FA8807;
  }

.nav-lista-historia{
  row-gap:30px;    
   padding: 50px;
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  }

  .nav-lista-historia li a{
    border: 2px solid rgb(229, 224, 224);
    border-radius: 5px;  
    padding: 10px 10px;   
  }

  .container-fluid{
   max-width: 100%;
  }

  .historia-p{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 50px;
    margin:15px 0px 10px 70px;
    line-height:inherit;
    font-size: 16px;    
    line-height: 30px;
    padding-right: 35px; 
  }
  .historias{   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
  }
 .historia-img{
justify-content: center;
  border: 2px solid transparent;  
    width: 200px;
    height: 200px;
    margin-left: 30%;
    width: 35%;/*para q la imagen quede dentro de la tarjeta*/
    /* overflow: hidden;/*sale del contenedor no se ve cdo la imagen sale de la tarjeta*/
 }


/******************direcciones-contacto2**************/
.container-contacto2{
  width: 900px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 70px; 
  margin-top: 60px;
  display: flex;
}

@media (min-width: 400px)
{
  .container-contacto2 {
    max-width: 100%;
  }
}

.contacto2-hr{  
    height: 2px;
    margin-left: -2%;
    margin-right: -100%;
    margin-top :1%;
    border: 1px solid #FA8807;
    /* background-color: #ffbc3b;    */
}

.contacto2-h2{
  padding-top: 8px;
  padding-left: -5%;
  font-size: 22px; 
  padding-bottom: 20px;
  color: #0e0e0e;   
}
.contacto2-label{
  line-height: 30px;
  font-size: 16px; 
   padding-left: 10px;
  color: #0e0e0e;  
}

.conatcto2-img{
  width:40px;
  height:40px;
  display: flex;
  flex-direction: row; 
  gap:20px;
  }

.contacto2-label{
 margin-top: 10px;
 align-content: stretch;
}

/****************footer***********/
.container-footer{
  background-image: linear-gradient(15deg, #f5eac4 0, #eadcbe 12.5%, #ddceb7 25%, #ccbfaf 37.5%, #b8afa6 50%, #a3a09d 62.5%, #8f9294 75%, #7d878c 87.5%, #6c7d85 100%);
   /* background-color:rgb(1z10, 108, 108); */
  display: flex;
  flex-direction: column;  
  gap:10px;
  align-items:center;
 
 }

.container-img{
  width: 100px;
  padding: 10px;
  border:1px solid  #FA811B;
  border-radius:5px;
  margin-top:5px;
   
}
.footer-img img{
  width: 35px;
  margin-top:-30px;
 
} 

.footer-p{
  font-family:Arial, Helvetica, sans-serif;
  text-align: justify;  
  margin-top:-20px;
  line-height:inherit;
  font-size: 14px;   
  
}
/*AGREGO 21042023*/
/* .footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
} */

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:16px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
  color:#FA811B;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #036b40;
  margin:-5px 8px;
  color:inherit;
  opacity:0.75;

}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.linea-footer{
  border-top: 1px solid rgb(246, 218, 56);
  text-align: center;
   
}


/************************ numeros de los sueños***************/
/* 

.numerossueños-h2{
  font-size: 2rem;
  padding: 5px 0px;
  align-items: center;
  margin-top: -15px;
}*/
/* .contenedor-numerossueños{    
  width: 100%; 
  margin: 20px auto;
} */

.contenedor-sueños{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.numerossueños-hr{
  height: 2px;
  margin-left: auto;
  margin-right: 1%; 
  margin-top :1%;
  border: 3px solid #FA8807;
  flex-direction: row;
}

  .tarjeta-numerossueños{
     border: 10px solid transparent;
        width: 1000px; 
   /* height: 1000px;    */
    overflow: hidden;    
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    
} 

  .numerossueños-img{
     width: 100%;  
    border: 1px solid transparent;
    border-radius: 24px;
   margin-left:-10px;    
  }
