* {
    margin: 0;
    padding: 0;
   
  }
  body{
    margin: 0px;
    padding: 0px;
  }
  a {
    text-decoration: none;
  }
  ul,
  li {
    list-style-type: none;
  }
  
  body {
    
    background-image: url("../img/ep_naturalwhite.png");
    overflow-x: hidden;
  }
  